Example.com:443 {
    reverse_proxy grafana:3000

}
portainer.Example.com:443 {
    reverse_proxy Example.com:9000

}

http://portainer.Example.com {
    redir https://portainer.Example.com

}

http://grafana.Example.com {
    redir https://grafana.Example.com

}

http://Ejemplo.es {
    redir https://url
}
